<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h2>Edit your Listings</h2>
    <form
      method="post"
      action="/listings/<%= listing._id %>?_method=PUT"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          value="<%=listing.title%>"
          name="listing[title]"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title field can't be empty</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%=listing.description%></textarea
        >
        <div class="invalid-feedback">Description field can't be empty</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          name="listing[image]"
          value="<%=listing.image%>"
          class="form-control"
          required
        /><!--  listing[title] jaisa sbko name mein pass kre so that wo ek object ka key value pair bnn jae aur create route mein retrieve krne mein asani ho -->
        <div class="invalid-feedback">Please enter a valid image URL</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%=listing.country%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%=listing.location%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location name</div>
      </div>
      <button class="btn btn-dark edit-btn mt-2 mb-3">Save</button>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>
